<div class="chat-input mt-4">
  <input data-chatbot-target="messageInput" id="message-input" class="h-12 border p-2 w-full" type="text">
  <button id="send-button" data-action="click->chatbot#sendMessage" class="bg-blue-500 text-white py-2 px-4 float-right">Enviar</button>
</div>