<div class="chat-bubble">
  <p class="text-white text-center bg-blue-500 rounded-lg p-2">
    Hola, ¿en qué puedo ayudarte hoy? Digite una de las siguientes opciones:
  </p>
  <div class="chat-timestamp text-right text-xs text-gray-500 mt-1">
    <%= Time.now.strftime("%I:%M %p") %>
  </div>
</div>