<div class="chat-bubble">
  <p class="text-black text-center bg-white rounded-lg p-2">
    <%= user_message %>
  </p>
  <div class="chat-timestamp text-right text-xs text-gray-500 mt-1">
    <%= Time.now.strftime("%I:%M %p") %>
  </div>
</div>